* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    line-height: normal;
    transform-origin: center;
    pointer-events: none;
}

.v9_31 {
    width: 100%;
    height: 100%;
    background-color: #4158D0;
    background: linear-gradient(43deg, #425ad1 0%, #c851c0 19%, #ffcd70 30%, #ffcd70 40%, #1c2a6d 51%, #692465 74%, #b87700 100%) var(--x, 0) /400%;
    opacity: 1;
    overflow: hidden;
    position: absolute;
}

.v9_31_dark {
    --x: 100%;
}

@media only screen and (max-width: 1062px) {
    .v9_31 {
        background: linear-gradient(43deg, #425ad1 0%, #c851c0 19%, #ffcd70 30%, #ffcd70 40%, #1c2a6d 51%, #692465 74%, #b87700 100%) var(--x, 0) /550%;
    }
}

#animation {
    height: 100%;
    width: 100%;
    width: auto;
    margin-left: 150px;
    margin-right: 150px;
}

.center_prompt {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo_add_screen {
    width: 500px;
    height: 900px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: fixed;
    border-radius: 3px;
    overflow: hidden;
    animation: fadeInUp;
    animation-duration: slow;
    box-shadow: 1px 3px 15px 1px rgba(0, 0, 0, 0.337);
}

.photo_add_screen_dark {
    background: #2a2e35;
    color: #fff;
}

.center_title {
    position: relative;
    top: 6.5%;
    justify-content: center;
    text-align: center;
}

.title {
    width: 103px;
    color: rgba(8, 13, 30, 1);
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.title_dark {
    color: #fff;
}

.photo_label {
    font-family: montserrat;
    font-weight: 700;
    font-size: 20px;
    position: relative;
}

.photo_field {
    width: 100%;
    min-height: fit-content;
    background: transparent;
    opacity: 1;
    position: relative;
    top: 120px;
    padding: 20px;
}

.photo_input {
    width: 100%;
    height: 60px;
    background: rgba(222, 222, 222, 1);
    margin: 8px 0;
    display: flex;
    justify-content: center;
    border: 0px solid #ccc;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    transition: .3s;
    color: transparent;
}

.photo_input_dark {
    background: #12181b;
}

.photo_input::-webkit-file-upload-button {
    visibility: hidden;
}

.photo_input::before {
    visibility: hidden;
}

.photo_input:hover {
    background: rgb(204, 204, 204);
}

.photo_field_title {
    font-family: montserrat;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    position: absolute;
    bottom: 40px;
    left: 130px;
    pointer-events: none;
}

.login_button_field {
    display: flex;
    justify-content: center;
    position: relative;
    top: 200px;
    padding: 25px;
}

.login {
    border: none;
    color: white;
    padding: 25px 110px;
    text-align: center;
    display: inline-block;
    font-family: Montserrat;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    top: 20px;
    border-radius: 40px;
    transition: 0.5s;
    background: linear-gradient(90deg, #1FA2FF, #12D8FA 51%, #1FA2FF) var(--x, 0)/ 200%;
    transition-duration: 0.4s;
}

.login_dark {
    font-weight: 700;
}

.login:hover {
    cursor: pointer;
    --x: 100%;
    box-shadow: 1px 3px 15px 1px grey;
}

.login_dark:hover {
    box-shadow: 1px 2px 10px 1px #0101019e;
}

.center2 {
    position: relative;
    width: 40px;
    left: 37px;
    top: 427px;
    font-size: 60px;
    font-weight: bold;
    color: white;
    transition: 0.4s;
    transition-duration: 0.5s;
}

.back_button_field {
    width: 150px;
    height: 100%;
    position: fixed;
    background-color: transparent;
    transition: 0.2s;
    transition-duration: 0.5s;
    opacity: 0;
}

.animations {
    position: fixed;
    height: 0px;
    animation: shakeX;
}

.back_button_field+.div#animation_stuff:hover {
    opacity: 1;
}

.back_button_field:hover,
.center2:hover>.back_button_field {
    cursor: pointer;
    background-color: #00000010;
    opacity: 1;
}