* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    line-height: normal;
    transform-origin: center;
}

.v9_31 {
    width: 100%;
    height: 100%;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    opacity: 1;
    overflow: hidden;
}

.center_prompt {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.prompt {
    width: 1200px;
    height: 544px;
    border-radius: 10px;
    background: rgb(237, 237, 237);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 1px 3px 15px 1px rgba(0, 0, 0, 0.337);
}

.login_prompt {
    width: 302px;
    height: 418px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    position: relative;
    top: 63px;
    left: 45px;
    transform: scale(1.3, 1.3);
    box-shadow: 7px 1px 7px -4px rgba(0, 0, 0, 0.2);
}

.logo {
    height: 709px;
    bottom: 433px;
    left: 130px;
    opacity: 1;
    position: relative;
    border-radius: 3px;
    pointer-events: none;
}

img {
    height: 100%;
    width: 100%;
    image-rendering: optimizeQuality;
    object-fit: contain;
    pointer-events: none;
}

@media screen and (max-width: 1200px) {
    .prompt {
        width: 302px;
        height: 418px;
        background: transparent;
        box-shadow: none;
    }
    .login_prompt {
        width: 100%;
        height: 418px;
        left: 0;
        top: 0;
        transform: scale(1, 1);
    }
    .logo {
        opacity: 0;
    }
}

.v13_44 {
    width: 103px;
    color: rgba(8, 13, 30, 1);
    position: absolute;
    top: 30px;
    left: 99px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px;
    opacity: 1;
    text-align: center;
}

.email_field {
    width: 235px;
    height: 44px;
    background: rgba(222, 222, 222, 1);
    opacity: 1;
    position: absolute;
    top: 106px;
    left: 33px;
    overflow: hidden;
}

.user_field {
    width: 235px;
    height: 44px;
    background: transparent;
    opacity: 1;
    position: absolute;
    top: 106px;
    left: 33px;
    overflow: hidden;
}

.user_input {
    width: 200px;
    height: 45px;
    background: rgba(222, 222, 222, 1);
    margin: 8px 0;
    display: inline-block;
    border: 0px solid #ccc;
    position: relative;
    top: -53px;
    left: 35px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    outline: none;
}

.user_icon {
    background: rgba(222, 222, 222, 1);
    width: 36px;
    height: 44px;
    position: relative;
    font-size: 20px;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.center {
    margin: 0;
    position: relative;
    top: 50%;
    left: 70%;
    opacity: 0.4;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.lock_icon {
    background: rgba(222, 222, 222, 1);
    width: 35px;
    height: 44px;
    position: relative;
    font-size: 20px;
    overflow: hidden;
}

.password_field {
    width: 235px;
    height: 44px;
    background: rgba(222, 222, 222, 1);
    opacity: 1;
    position: absolute;
    top: 176px;
    left: 33px;
    overflow: hidden;
}

.password_input {
    width: 200px;
    height: 44px;
    background: rgba(222, 222, 222, 1);
    display: inline-block;
    border: 0px solid #ccc;
    border-radius: 0px;
    position: relative;
    top: -44px;
    left: 35px;
    overflow: hidden;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    outline: none;
}

.login_button_field {
    position: relative;
    top: 300px;
    display: flex;
    justify-content: center;
}

.login {
    border: none;
    color: white;
    padding: 10px 100px;
    text-align: center;
    display: inline-block;
    font-family: Montserrat;
    font-size: 20px;
    font-style: italic;
    font-weight: 700;
    margin: 4px 2px;
    cursor: pointer;
    position: relative;
    top: 20px;
    border-radius: 20px;
    transition: 0.5s;
    background: linear-gradient(90deg, #fbc2eb, #a6c1ee 51%, #fbc2eb) var(--x, 0)/ 200%;
    transition-duration: 0.4s;
}

.login:hover {
    cursor: pointer;
    --x: 100%;
    box-shadow: 1px 3px 15px 1px grey;
}

.register_button_field {
    position: relative;
    top: 270px;
    display: flex;
    justify-content: center;
}

.register {
    border: none;
    background: transparent;
    text-align: center;
    font-family: Montserrat;
    font-size: 10px;
    font-style: italic;
    font-weight: 700;
    text-decoration: underline;
    position: relative;
    top: 50px;
}

.register:hover {
    cursor: pointer;
    color: #4158D0;
}

.animate__animated.animate__fadeIn {
    --animate-delay: 0.4s;
}

#logo_animation {
    pointer-events: none;
}