* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
    line-height: normal;
    transform-origin: center;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .3s ease;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(43deg, #425ad1 0%, #c851c0 19%, #ffcd70 30%, #ffcd70 40%, #1c2a6d 51%, #692465 74%, #b87700 100%) var(--x, 0) /400%;
    /* background-image: linear-gradient(43deg, hsl(230, 61%, 54%) 0%, hsl(304, 52%, 55%) 46%, hsl(39, 100%, 72%) 100%); */
    transition: 0.5s;
    transition-duration: 0.6s;
    /* transition: all .3s ease; */
}

.background_dark {
    /* background: linear-gradient(43deg, hsl(230, 59%, 27%) 0%, hsl(304, 50%, 27.5%) 46%, hsl(39, 100%, 36%) 100%); */
    --x: 100%;
    /* opacity: 0; */
    transition: 0.5s;
    transition-duration: 0.6s;
}

.top_bar {
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, 1);
    position: fixed;
    display: flex;
    justify-content: normal;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 3px 15px 1px grey;
    transition: .2s;
}

.back_button {
    width: 130px;
    min-width: 50px;
    height: 50px;
    font-size: 25px;
    opacity: 0.8;
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 20px;
    overflow: hidden;
    border-radius: 50px;
    background-color: #B363F1;
    box-shadow: 1px 3px 10px 1px grey;
    transition: 0.4s;
    transition-duration: 0.5s;
}

.back_button_dark {
    background-color: #B363F1;
    box-shadow: 1px 3px 10px 1px #0101019e;
    transition: 0.4s;
    transition-duration: 0.5s;
}

.back_button:hover {
    cursor: pointer;
    background-color: #C850C0;
}

.center_back {
    padding: 14px;
    display: flex;
    justify-content: center;
    position: relative;
    color: white;
}

.center_back_icon {
    padding: 14px;
    display: flex;
    justify-content: center;
    bottom: 52px;
    left: 1px;
    position: relative;
    color: white;
}

#back_icon {
    opacity: 0;
    transform: scaleX(-1);
}

#invite_icon {
    opacity: 0;
    transform: scaleX(-1);
}

.profile_picture {
    width: 80px;
    height: 80px;
    background: rgb(156, 156, 156);
    position: relative;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 80px;
    overflow: visible;
    transition: .3s;
}

.center_profile_picture {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    position: relative;
    color: white;
    border-radius: 40px;
    overflow: hidden;
    transition: 0.3s;
}

#no_user_picture {
    font-size: 20px;
    opacity: 0.8;
    margin-top: 30px;
    margin-left: 3px;
    transition: 0.3s;
}

#image {
    min-width: 80px;
    min-height: 80px;
    object-fit: cover;
}

.edit_profile_picture {
    width: 80px;
    height: 80px;
    background: transparent;
    font-size: 30px;
    display: flex;
    justify-content: center;
    color: black;
    position: fixed;
    right: 20px;
    top: 10px;
    pointer-events: none;
}

.center_edit_profile_picture {
    left: 3px;
    padding: 24px;
    display: flex;
    justify-content: center;
    position: relative;
    color: rgb(255, 255, 255);
    opacity: 0;
    transition: .4s;
}

.profile_picture:hover {
    background-color: #666666;
}

.profile_picture:hover .center_profile_picture>#no_user_picture {
    opacity: 0.1;
}

.profile_picture:hover .center_profile_picture {
    opacity: 0.5;
}

.profile_picture:hover+.edit_profile_picture>.center_edit_profile_picture {
    opacity: 0.8;
}

.name_div {
    width: 80%;
    min-width: fit-content;
    height: 50px;
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: transparent;
    display: flex;
    justify-content: end;
}

.name {
    width: auto;
    height: 50px;
    color: rgba(8, 13, 30, 1);
    position: relative;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px;
    top: 5px;
    text-align: right;
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 400px);
    grid-template-rows: repeat(auto-fit, 300px);
    row-gap: 20px;
    column-gap: 20px;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 100px;
    overflow-y: scroll;
    transition: 0.3s;
}

.main_content {
    width: 100%;
    height: 100%;
    background: transparent;
    position: fixed;
    top: 100px;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.item_element {
    width: 400px;
    height: 300px;
    position: relative;
    /* top: 20px; */
}

.white_margin {
    width: 400px;
    height: 200px;
    position: absolute;
    top: 100px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 3px 15px 1px grey;
    transition: all .3s;
}

.black_margin {
    background-color: #2a2e35;
    box-shadow: 0px -3px 7px -2px #010101;
    color: #fff;
    transition: all .3s;
}

.black_margin>.author {
    color: #fff;
}

.black_margin>.price {
    color: #fff;
}

.black_margin>.quantity {
    color: #fff;
}

.black_margin>.enter_button {
    box-shadow: 1px 2px 10px 1px #0101019e;
}

.author {
    color: rgba(0, 0, 0, 1);
    position: relative;
    top: 10%;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    width: 100%;
    height: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
}

.price {
    color: rgba(0, 0, 0, 1);
    position: relative;
    top: 10%;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    width: 100%;
    height: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
}

.quantity {
    color: rgba(0, 0, 0, 1);
    position: relative;
    top: 10%;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    width: 100%;
    height: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
}

.info_dark {
    color: #fff;
}

.enter_button {
    width: 180px;
    height: 50px;
    font-size: 25px;
    opacity: 1;
    position: relative;
    color: white;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    top: 30px;
    left: 110px;
    overflow: hidden;
    border-radius: 50px;
    background-color: #B363F1;
    box-shadow: 1px 3px 10px 1px grey;
    transition: 0.4s;
    transition-duration: 0.5s;
}

.enter_button:hover {
    cursor: pointer;
    background-color: #C850C0;
}

.center_enter {
    padding: 14px;
    display: flex;
    justify-content: center;
    position: relative;
    color: white;
}

.item_name_plate {
    width: 400px;
    height: 100px;
    position: absolute;
    top: 0px;
    background-color: white;
    background-image: radial-gradient( circle farthest-corner at 10.2% 55.8%, rgba(252, 37, 103, 1) 0%, rgba(250, 38, 151, 1) 46.2%, rgba(186, 8, 181, 1) 90.1%);
    box-shadow: -2px 5px 12px 1px rgba(0, 0, 0, 0.26);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.item_name_plate_dark {
    background-image: radial-gradient( circle farthest-corner at 10.2% 55.8%, rgb(180, 4, 57) 0%, rgba(199, 8, 110), rgb(154, 0, 148) 90.1%);
    box-shadow: 0px 6px 7px -2px rgba(0, 0, 0, 0.53);
}

.edit_item_button {
    width: 25px;
    height: 25px;
    overflow: hidden;
    position: absolute;
    top: -8px;
    right: -10px;
    color: white;
    background-color: grey;
    border-radius: 15px;
    opacity: 0.8;
    transition: .3s;
}

.center_edit_item_button {
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-left: 4px;
    color: #fff;
}

.edit_item_button:hover {
    cursor: pointer;
    opacity: 1;
}

.item_name {
    color: rgba(255, 255, 255, 1);
    position: relative;
    top: 25%;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.add_field {
    width: 400px;
    height: 300px;
    background: rgba(255, 255, 255, 0.271);
    justify-content: center;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    transition: .3s;
}

.add_field_dark {
    background: #2a2e3542;
}

.add_button {
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 50px;
    position: relative;
    transition: background-color 0.2s ease-out;
    transition: color 0.2 ease-out;
    top: 75px;
    display: flex;
    justify-content: center;
}

#add_href {
    border-radius: 50px;
}

.add_field_dark>.add_button {
    background: #ffffff53;
}

.add_button:hover {
    cursor: pointer;
    background-color: rgba(210, 210, 210, 0.38);
    color: rgb(105, 78, 109);
    opacity: 1;
}

.plus_icon_field {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 60px;
    position: relative;
    top: 43px;
    left: 2px;
    opacity: 0.3;
    color: black;
    padding-right: 38px;
    padding-left: 38px;
}

input[type="checkbox"] {
    display: none;
}

#label {
    position: relative;
    min-width: fit-content;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid gray;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
}

#sun {
    color: orange;
    font-size: 34px;
    text-shadow: 0px 0px 20px orange;
    transform: translateX(48px);
    position: relative;
    top: -5px;
    transition: .3s;
}

#moon {
    color: #ffffff;
    font-size: 30px;
    text-shadow: 0px 0px 20px #ffffff;
    transform: translateX(0px);
    position: relative;
    top: -7px;
    left: -20px;
    opacity: 0;
    transition: .3s;
}

#switch-button:checked~.top_bar>label>#sun {
    opacity: 0;
    transform: translateX(0px);
}

#switch-button:checked~.top_bar>label>#moon {
    opacity: 1;
    transform: translateX(-25px);
}

.top_bar_dark {
    background: #2a2e35;
    color: #b2becd;
    box-shadow: 1px 3px 15px 1px #010101;
}

.name_dark {
    /* background: black; */
    color: #fff;
}

#info_animation {
    height: 100%;
    width: 35rem;
    transition: 0.3s;
}

.house_info {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    box-shadow: 1px 3px 15px 1px grey;
}

.house_info_dark {
    background-color: #2a2e35;
    color: #b2becd;
    box-shadow: 1px 3px 15px 1px #010101;
}

.house_picture {
    width: 140px;
    height: 140px;
    position: relative;
    top: 100px;
    border-radius: 75px;
    background: rgb(156, 156, 156);
}

.house_name {
    position: relative;
    top: 120px;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 25px;
    color: black;
}

.house_info_dark .house_name {
    color: #fff;
}

.house_address {
    position: relative;
    top: 120px;
    font-family: Montserrat;
    font-size: 20px;
    color: black;
    opacity: 0.6;
}

.house_info_dark .house_address {
    color: #fff;
}

.dividerr {
    position: relative;
    top: 140px;
    width: 100%;
    height: 1px;
    background: rgb(156, 156, 156);
}

.participants_grid {
    display: grid;
    grid-template-rows: auto;
    height: auto;
    width: 200px;
    position: relative;
    top: 160px;
    color: black;
}

.participant {
    width: 100%;
    height: 40px;
    color: black;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.house_info_dark .participant {
    color: #fff;
}

.participant_name {
    position: relative;
    width: min-content;
    font-family: Montserrat;
    font-weight: 700;
}

.participant_debt {
    position: relative;
    width: min-content;
    font-family: Montserrat;
}

.invite_button {
    width: 130px;
    height: 50px;
    font-size: 25px;
    opacity: 0.8;
    position: relative;
    top: 180px;
    display: flex;
    justify-content: center;
    color: white;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    overflow: hidden;
    border-radius: 50px;
    background-color: #B363F1;
    box-shadow: 1px 3px 10px 1px grey;
    transition: 0.4s;
    transition-duration: 0.5s;
}

.invite_button_dark {
    background-color: #B363F1;
    box-shadow: 1px 3px 10px 1px #0101019e;
    transition: 0.4s;
    transition-duration: 0.5s;
}

.invite_button:hover {
    cursor: pointer;
    background-color: #C850C0;
}

.center_invite {
    padding: 14px;
    display: flex;
    justify-content: center;
    position: relative;
    color: white;
}

#label_for_menu {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 25px;
    background: black;
    opacity: 0.2;
    cursor: pointer;
    overflow: visible;
    transition: 0.3s;
}

#label_for_menu:hover {
    opacity: 0.5;
}

#badge {
    color: white;
    font-size: 23px;
    position: relative;
    top: 9px;
    left: 6.5px;
}

#menu-button:checked~#info_animation {
    width: 0px;
}

#menu-button:checked~#info_animation>.house_info {
    opacity: 0;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 0.3s;
    --animate-delay: 1s;
}

.animate__animated.animate__fadeInDownBig {
    --animate-duration: 0.6s;
    --animate-delay: 0s;
}

@media only screen and (max-width: 909px) {
    .center_back {
        opacity: 0;
    }
    #back_icon {
        opacity: 1;
    }
    .background {
        background: linear-gradient(43deg, #425ad1 0%, #c851c0 19%, #ffcd70 30%, #ffcd70 40%, #1c2a6d 51%, #692465 74%, #b87700 100%) var(--x, 0) /550%;
        transition: none;
        transition-duration: none;
    }
    #info_animation {
        width: 0px;
    }
    .house_info {
        opacity: 0;
    }
    #menu-button:checked~#info_animation {
        width: 35rem;
    }
    #menu-button:checked~#info_animation>.house_info {
        opacity: 1;
    }
    #menu-button:checked~.grid {
        opacity: 0;
        width: 50%;
        pointer-events: none;
    }
    #label {
        min-width: 50px;
        padding: 0px;
        width: 50px;
    }
    #sun {
        position: absolute;
        font-size: 27px;
        top: 9px;
        left: 6px;
        transform: none;
    }
    #moon {
        position: absolute;
        font-size: 25px;
        top: 10px;
        left: 7px;
        opacity: 0;
        transform: none;
    }
    #switch-button:checked~.top_bar>label>#sun {
        opacity: 0;
        transform: none;
    }
    #switch-button:checked~.top_bar>label>#moon {
        opacity: 1;
        transform: none;
    }
}